/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { font: 200 1.4em spectral, Trebuchet, Times, Arial, serif; letter-spacing: 0px; color: #111; background-color: #fdfdfd; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; counter-reset: h1; text-align: left; hyphens: auto; }

strong { font-family: spectral, Trebuchet, Times, Arial, serif; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-top: 19px; margin-bottom: 19px; }

/** Images */
img { max-width: 100%; vertical-align: middle; display: block; margin: auto; filter: grayscale(50%); }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 87.5%; }

/** Lists */
ul, ol { margin-left: 20px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 200; font-family: spectral, Trebuchet, Times, Arial, serif; color: #111; text-transform: capitalize; text-align: left; }

/** Links */
a { color: #111; text-decoration: underline; }

a:visited { color: black; }

a:hover { color: #111; text-decoration: underline; }

/** Blockquotes */
blockquote { color: #828282; border-left: 4px solid #e8e8e8; padding-left: 10px; font-style: italic; font-weight: 200; }

blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { border: 1px solid #e8e8e8; border-radius: 3px; background-color: #eef; }

code { font-size: .8em; }

pre { padding: 8px 12px; overflow-x: auto; }

pre > code { border: 0; padding-right: 0; padding-left: 0; }

.site-title:visited, .site-title:hover, .site-title { text-align: center; font-size: 250%; color: #d8d8d8; text-decoration: none; }

.title { text-align: center; font-size: 75%; font-family: spectral, Trebuchet, Times, Arial, serif; line-height: 1; }

.value { text-align: center; font-size: 225%; font-family: spectral, Trebuchet, Times, Arial, serif; line-height: 1; }
